h1 {
  text-align: center;
  border: 3px;
  background-color: bisque;
}

h2{
  text-align: center;
  background-color: cornsilk;
}

.time {
  width: 100%;
  padding: 11px;
  margin-right: 20px;
  border: 1px solid gray;
  
}

 .save {
  width: 100%;
  padding: 14px;
  margin-right: 100px;
  border: 1px solid gray;

 }

 #text9 {
  width: 100%;
  border: 1px solid gray;
  margin-right: 30px;
  padding-right: 20px;
 }
 #text10 {
  width: 100%;
  border: 1px solid gray;
  margin-right: 30px;
  padding-right: 20px;
 }
 #text11 {
  width: 100%;
  border: 1px solid gray;
  margin-right: 30px;
  padding-right: 20px;
 }
 #text12 {
  width: 100%;
  border: 1px solid gray;
  margin-right: 30px;
  padding-right: 20px;
 }
 #text1 {
  width: 100%;
  border: 1px solid gray;
  margin-right: 30px;
  padding-right: 20px;
 }
 #text2 {
  width: 100%;
  border: 1px solid gray;
  margin-right: 30px;
  padding-right: 20px;
 }
 #text3 {
  width: 100%;
  border: 1px solid gray;
  margin-right: 30px;
  padding-right: 20px;
 }
 #text4 {
  width: 100%;
  border: 1px solid gray;
  margin-right: 30px;
  padding-right: 20px;
 }
 #text5 {
  width: 100%;
  border: 1px solid gray;
  margin-right: 30px;
  padding-right: 20px;
 }